<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="./public/styles.css">
    <title>Home</title>
</head>
<body>
    <%-include("partials/header.ejs");%>
  
      <div class="bg-dark text-secondary px-4 py-5 text-center home-content">
        <div class="py-5 home-content">
          <h1 class="display-5 fw-bold text-white">Welcome to BloggerInc. !!</h1>
          <div class="col-lg-6 mx-auto">
            <p class="fs-5 mb-auto">your destination for all things blogging! Whether you're here to read,   write, or connect with fellow bloggers, we're thrilled to have you join our vibrant community.
                Explore diverse content, share your voice, and make meaningful connections. Let's create, inspire, and grow together.
                <br>
                Happy blogging!
                <br>
                The BloggerInc Team</p>
          </div>
        </div>
        <div class="home-img">
            <a href="#"><img src="public/Designer (1).png" alt="A Person writing a Blog" height="500px"></a>
        </div>
      </div>
      
      <%- include("partials/footer.ejs");%>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>